
{% load static %}
<!--Bootstrap style link.-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--Css for background and text.-->
<style>
	body{
        padding: 2px;
	    background: #fcfcfc;
        text-align: center;
        margin: 150px 0 0;
        font-family: Roboto, sans-serif;
        font-size: xx-large;
		}
    p{
        font-size: medium;
    }
    button {
        background-color: #06556e;
        border: none;
        color: white;
        padding: 6px 32px;
        text-align: center;
        margin: auto;
        display: block;
        text-decoration: none;
        font-size: 16px;
        border-radius: 4px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
    }

</style>
<!--User authentication.-->
   {% if user.is_authenticated %}
  Hi {{ user.username }}!
       <p></p>
     <p><a class ="btn btn-secondary btn-sm mb-3"  href="{% url 'logout' %}">Log Out</a></p>
<!--Display polls questions, if user is logged in.-->
{% if latest_question_list %}
      {% for question in latest_question_list %}
      <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
{% else %}
    <!--If user is logged in, the polls aren't visible.-->
    <p>No polls are available.</p>
{% endif %}
{% else %}
       <h1>To see the polls</h1>
       <p>Please log in</p>
           <button type="button"  class="d-flex justify-content-center mt-3 login_container">
    <a href="{% url 'login' %}" style="color:white"> Log in </a>
       </button>

{% endif %}
